/*navbar*/

* {
	margin  : 0px;
	padding : 0px;
}

html {}

body {}

#page-content-wrapper{
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	float:left;
}
/*menu*/
.menu-adm{
	  z-index: 100;
}
.menu-adm,
.menu-adm .navbar-collapse,
.menu-adm .navbar-default,
.menu-adm .navbar-fixed-top,
.menu-adm .navbar-inner,
.menu-adm .navbar .collapse {
	height        : 43px !important;
	min-height    : 43px !important;
	margin-bottom : 0px;
}


.box-md-1{
	width: 8%;
}
.box-md-2{
	width: 16%;
}
.box-md-3{
	width: 24%;
}
.box-md-4{
	width: 33%;
}
.box-md-5{
	width: 41% ;
}
.box-md-6{
	width: 49%;
}
.box-md-7{
	width: 58%;
}
.box-md-8{
	width: 66%;
}
.box-md-9{
	width: 74%;
}
.box-md-10{
	width: 83%;
}
.box-md-11{
	width: 91%;
}
.box-md-12{
	width: 99%;
}

.box-md-1,.box-md-2,.box-md-3,.box-md-4,.box-md-5,.box-md-6,.box-md-7,.box-md-8,.box-md-9,.box-md-10,.box-md-11,.box-md-12{
	float: left;
	margin-left:3px;
	padding-bottom: 7px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.clear-right{
	clear: right;
}
.clear-left{
	clear: left;
}
.clear-both{
	clear:both;
}

.menu-adm{
	z-index:180 !important;
}
.menu-adm .navbar-brand .logo-zundi{
	margin-top:9px;
	margin-left: 10px;
}

.menu-adm .navbar-brand {
	height     : 43px !important;
	min-height : 43px !important;
	padding    : 0;
}

.menu-adm .navbar-brand .navbar-logo {
	max-height  : 30px;
	margin-top  : 6px;
	margin-left : 10px;
}

.menu-adm .navbar-nav>li>.dropdown-menu {
	margin-top : -1px;
	border     : 1px solid #e7e7e7;
}

.btn-navbar {
	height        : 43px !important;
	min-height    : 43px !important;
	padding-top   : 12px !important;
	padding-right : 5px !important;
	padding-left  : 5px !important;
}

.acordion .panel-heading{
	padding: 0px;
	margin-top:1px;
}

.icn-eye-open,.icn-eye-close{
	padding-top: 3px;
	display: inline-block;
}

.acordion  .panel, .acordion .panel-heading, .acordion .panel-default>.panel-heading{
	background-color: transparent;
	color:#666;
	border: 0px;
	-webkit-box-shadow: none;
	box-shadow:  none;
}
.acordion .panel-collapse, .acordion .panel-body{
	border: 0px !important;
	padding:0px 10px;
}

.img-user {
	float       : left;
	margin-top  : 10px;
	margin-left : 15px;
}

.table .img-user {
	float       : left;
	margin-top  : 0px;
	margin-left : 0px;
	width: 40px;
	height: 40px;
}

.table .nombre-user{
	margin-top:8px;
	margin-left: 10px;
	display: inline-block;
}

.table .td-user{
	padding-top: 7px;
	display:block-inline;
}

.td-id{
	width: 5% !important;
}
.td-acciones{
	width: 150px !important;
}
.checkbox{
	margin-left: 25px;
}

.menu-user {
	min-width      : 180px;
	padding-bottom : 0px;
}

.btn-perfil {
	margin-top : 8px;
}

.clearfix{
	width: 100%;
 display: inline-block;
 height: 15px;
}

.name-user {
	width        : 78px;
	float        : right;
	margin-right : 15px;
}

.btn-submenu {
	padding-top    : 10px !important;
	padding-bottom : 10px !important;
}

.btn-salir {
	border-bottom-right-radius : 4px;
	border-bottom-left-radius  : 4px;
}

.btn-volver{
padding-left: 0px;
}
.btn-menu {
	width      : 70px;
	height     : 43px;
	min-height : 43px !important;
	margin     : 0px 0px 0px 0px !important;
	cursor     : pointer;
}

.btn-menu i {
	margin-right : 15px;
}

.btn-menu .icn-close {
	display    : none;
	margin-top : 0px;
}

.btn-menu.on .icn-close {
	display : block;
}

.btn-menu .icn-reorder {
	float      : left;
	margin-top : -2px;
}

.btn-menu.on .icn-reorder {
	display : none;
}

@media (min-width: 768px) {
	.menu-adm .navbar-nav>li>a {
		padding-top    : 10px;
		padding-bottom : 0px;
		line-height    : 0px !important;
	}
}

#btn-navicon.on {}

/*sidebar*/

.sidebar {
	z-index    : 121 !important;
	position   : fixed;
	top        : 0px;
	right      : -250px;
	width      : 250px;
	height     : 100vh;
	margin-top : 43px;
}

.sidebar.on {
	display : block;
}

.sidebar-inner {
	margin     : 0px;
	padding    : 15px;
	text-align : left;
	list-style : none;
	height: 97vh;
	overflow-y: auto;

}

.sidebar-inner .title-menu {
	display     : block;
	margin-top  : 30px;
	padding     : 10px;
	padding-top : 0;
}

.sidebar-inner .title-menu-general {
	margin-top : 5px;
}

.btn-menu-sidebar {
	display : block;
	padding : 8px 13px;
}

/*iconos*/

.icn-credential,
.icn-off {}

/*popup-div*/

.popup-div {
	display : none;
	z-index     : 101;
  overflow-y:scroll;
}

.popup-div.on {
	display     : block !important;
	position    : fixed;
	top         : 43px;
	width       : 100%;
	height      : 100vh;
}

.btn-cerrar-pag {
	position : fixed;
	top      : 58px;
	right    : 20px;
	width    : 35px;
	height   : 25px;
	cursor   : pointer;
}



/*footer*/

.footer-pag {
	width      : 100%;
	clear      : both;
	margin-top : 12px;
	margin-bottom: 12px;
	display: block;
	float:left;
}


/*header*/

/*pag*/
.body-page{
	padding-right : 50px;
	padding-left: 40px;
	padding-top: 20px;
	overflow-y:auto;
}

.body-error{
	margin-top: 35px;
}

.bloque-modulo {
	display       : block;
	/*padding-right : 60px;
	padding-left: 40px;*/
	padding-left: 0px;
	padding-right: 0px;
}

.head-modulo {
	display    : inline-block;
	width: 100%;
	padding-top: 10px;
}

.title-page {
	margin-top  : 0px;
	padding : 0px;
}

.title-form {
	margin-top  : 8px;
	padding : 0px;
}

.col-id{
	width: 20px;
}

.head-botones {
	display    : inline-block;
	margin-top : 0px;
	margin-right: 10px;
}

.body-modulo{
	margin-top: 0px;
	min-height: 83vh;
	padding: 20px;
}

.frame-mod{
	border:0px;
	width: 100%;
	height: 94vh;
	overflow-y:scroll;
}

.frame-modal{
	border:0px;
	width: 100%;
	height: 300px;
	overflow-y:scroll;
}

.oncontentpage{
	display: none;
	transition: all 0.3s;
}

/* form */

.form-modulo{
	/* padding:20px 0px; */
}

.form-group{
	position: relative;
}

.form-modulo .input-group-addon{

}

.form-textarea{
	width: 100% !important;
	display: inline-block;
}

.form-select{
	width: 40%;
}

input[type="file"] {
	padding:7px !important;
	margin-bottom: 7px;
}

.form-botones{
	margin-top:20px !important;
	margin-bottom: 20px !important;
	display: block;
	text-align: right;
}

.form-botones .btn-eliminar{
	float:left;
	margin-top: 10px;
}

/* publicacion */
.publicacion{
	padding:15px;
}

/* tablas */
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {

}

.table td { padding-left: 15px !important; }
.btn-accion {
	font-size: 17px !important;
	padding: 2px 3px 2px 3px;
}

/*Key-index*/

.key-index {
	z-index  : 3000;
	display  : inline-block;
	position : fixed;
	right    : 7px;
	bottom   : 5px;
	width    : 24px;
	height   : 24px;
	cursor   : pointer;
}

.key-index i {
	display : none;
}

/*Bloques login*/

.block-login {
	position   : fixed;
	width      : 100%;
	height     : 100vh;
	padding    : 0 !important;
	text-align : center;
	z-index  : 30100;
}

.login {
	z-index         : 30055;
	display         : inline-block;
	-moz-box-sizing : border-box;
	box-sizing      : border-box;
	position        : absolute;
	top             : 10%;
	width           : 300px;
	height          : auto !important;
	margin          : 0px auto;
	margin-left     : -165px;
	padding         : 15px;
}

.login .btn-cerrar {
	position  : absolute;
	top       : 0;
	right     : -5px;
	font-size : 18px;
}

.login .brand-login {
	display  : inline-block;
	position : relative;
	max-width    : 200px;
	max-height: 80px;
	margin   : 15px auto 20px auto;
	text-align: center !important;
}

.login .brand-login img {
	display   : inline-block;
	max-width : 200px;
	max-height: 80px;
}

.login .brand-login i {
	display     : inline-block;
	position    : absolute;
	top         : -7px;
	margin-left : -16px;
}

.login .brand-login span {
	display     : inline-block;
	margin-left : 40px;
	font-size   : 27px;
}

.login .input-lg {
	height       : 50px;
	padding-left : 0px;
}

.login .input-group-addon {
	padding-right : 10px;
}

.login .password .input-lg,
.login  .password  .input-group-addon {}

.login .email .input-lg,
.login  .email  .input-group-addon {}

.login .help-block {
	margin-top : 15px;
}

.login .help-block a {}

.login .help-block a:hover {}

.login .btn-ingresar {
	width : 100%;
}

#login_ok {
	margin-top    : -15px;
	margin-bottom : 7px;
}

.login-footer {
	z-index  : 30051;
	position : fixed;
	bottom   : 5px;
	width    : 100%;
}

.bg-shadow {
	z-index  : 30050;
	position : fixed;
	width    : 100%;
	height   : 100vh;
}

/*Alertas y errores*/

.alert {}

/*Base de datos*/

.container-conexion {
	display : block;
	width   : 99.5%;
	height  : 96vh;
}

.container-conexion .mensaje {
	display    : inline-block;
	margin-top : 20%;
	padding    : 12px 16px;
}

.container-conexion .mensaje label {
	display    : inline-block;
	margin-top : 10px;
	padding    : 8px 12px;
}

/* Arbol categorias */
.arbol{
	padding: 15px 25px;
	position: relative;
}

.arbol .nodo{
	position: relative;
	padding-left: 35px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.arbol .nodo-hijo{
	position: relative;
	padding-top: 4px;
	padding-bottom: 4px;
}

.arbol .nodo .i-nodo{
	position: absolute;
	top:-5px;
	left:1px;
	font-size: 26px;
	color:#ccc;
}

.arbol .nodo-hijo .i-nodo{
	font-size: 26px;
	top:-5px;
	position: absolute;
	color:#ccc;
}

.arbol .btn-i:hover{
}

.panel-group{
	margin-bottom:1px;
}

.arbol-cat{
	border:1px solid #eee;
	border-radius: 5px;
	padding: 10px 20px;
	overflow-y: scroll;
	height: 150px;
}
.arbol-cat label{
	display:block;
}
.respuesta-form{
	padding: 15px;
	margin-top: 0px;
}
.progress{
	margin-bottom: 7px;
}

.box-upload-s{
	display: inline-block;
	width: 100%;
}

.box-upload-s select{
	width: 87%;
	float: left;
}
.box-upload-s button{
	width: 10%;
	float: right;
}

.head-noticias{
	width: 70% !important;;
}

/* data table */

.dataTables_length{
	float: left;
	width: 10%;
	margin-bottom: 5px;
}

.dataTables_length select{
	width: 50px !important;
}

.dataTables_filter {
	float: right;
	margin-bottom: 5px;
}

.dataTables_filter input{
	border:1px solid #ccc;
	border-radius: 3px;
	padding: 3px 7px;
	width: 30%;
}

.dataTable{
	float: left;
	clear: both;

}
.top .dataTables_paginate {
    position: relative;
    width: 100%;
    padding-bottom: 10px;
}
.dataTables_paginate{
	float: right;
}


.dataTables_paginate .paginate_button{
	border-radius: 3px;
	padding: 8px 12px;
	margin:auto 3px;
	margin-top: 10px;
	display: inline-block;
}


.dataTables_info{
	float: left;
	margin-top: 10px;
}



/* box-modal */
.box-modal{
	width: 100%;
	padding: 1px;
	display: inline-block;
}
.head-modal, .head-modal h1, .body-modal {
  margin-left:0;
  width: 100%;
}
.head-m-modal{
	margin-left: 20px;
	width: 95%;
}
.otro-nuevo{
	width: 100%;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	display: inline-block;
}

.body-modal .table-responsive{
	padding: 10px 20px 10px 20px;
}

.alert-success{
	 display: inline-block;
}


.box-doc-agregado{
	width: 100%;
	padding: 10px 20px 7px 20px;
	margin:10px 0;
	position:relative;
}


.box-doc-agregado label{
	display: inline-block;
	margin-top: 3px;
}

.agregado, .btn-agregar.on{
	display: none;
}

.agregado.on, .btn-agregar{
	display: block;
}

.acciones{
	width: 10%;
}

.quitardoc{
	 position: absolute;
	 right: 0px;
	 top: 7px;
	 display: inline-block;
}

.rol-cat{
	margin-right: 20px;
}

.rol-cat .arbol-cat{
	height: 350px;
}

.box-ms{
	display: inline-block;
}

.box-ms label{
	float:left;
	margin-right: 10px;
}
.box-ms .btn-permiso{
	float:left;
	padding: 3px 3px;
	cursor: pointer;
}

.btn-permiso.on{
	color:#eee;
}

.box-tabla{
	display:block;
	margin-top: 10px;
}
.box-tr{
	width: 100%;
	height: 43px;
	float: left;

}
.box-td{
	display: inline-block;
	line-height: 24px;
	padding: 9px 10px;
}

.box-td .btn{
	padding-top: 2px;
}

.box-pest-agregado{
	width: 100%;
	height: 290px;
	padding: 10px 20px 7px 20px;
	margin:10px 0;
	position:relative;
}


.box-pest-agregado label{
	display: inline-block;
	margin-top: 3px;
}

.quitarpest{
	 position: absolute;
	 right: 0px;
	 top: 7px;
	 display: inline-block;
}
.agregado, .btn-agregar-pes.on{
	display: none;
}

.agregado.on, .btn-agregar-pest{
	display: block;
}

.tab-content{
	padding: 20px;
	display: inline-block;
	width: 100%;
	min-height: 83vh;
}

.box-departamentos .btn-contenedores{
	display: none;
}

.box-contenedores .btn-contenedores{
	display: none;
}

.body-config{
	padding: 40px;
}

