# htaccess u
# Fecha de modificacion:09 09 2016 16:09:12
#
RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
#
Rewriterule ^dashboard$  nucleo/dashboard.php
Rewriterule ^zundi$  index.php?cat=1&pla=1
Rewriterule ^buscar/$  index.php?cat=1&pla=2
Rewriterule ^portada$  index.php?cat=1&pla=1
Rewriterule ^portada/p=([0-9]+)$  index.php?cat=1&pla=$1
Rewriterule ^portada/pag=([0-9]+)$  index.php?cat=1&pla=1&pag=$1
Rewriterule ^portada/([^/]*).html$  index.php?cat=1&pla=3&nota=$1
Rewriterule ^portada/prod=([0-9]+)$  index.php?cat=1&pla=1&prod=$1
Rewriterule ^portada/prod=([0-9]+)&ruta=([^/]*)$  index.php?cat=1&pla=1&prod=$1&ruta=$2
Rewriterule ^nosotros$  index.php?cat=76&pla=1
Rewriterule ^nosotros/p=([0-9]+)$  index.php?cat=76&pla=$1
Rewriterule ^nosotros/pag=([0-9]+)$  index.php?cat=76&pla=1&pag=$1
Rewriterule ^nosotros/([^/]*).html$  index.php?cat=76&pla=3&nota=$1
Rewriterule ^nosotros/prod=([0-9]+)$  index.php?cat=76&pla=1&prod=$1
Rewriterule ^nosotros/prod=([0-9]+)&ruta=([^/]*)$  index.php?cat=76&pla=1&prod=$1&ruta=$2
Rewriterule ^productos$  index.php?cat=77&pla=1
Rewriterule ^productos/p=([0-9]+)$  index.php?cat=77&pla=$1
Rewriterule ^productos/pag=([0-9]+)$  index.php?cat=77&pla=1&pag=$1
Rewriterule ^productos/([^/]*).html$  index.php?cat=77&pla=3&nota=$1
Rewriterule ^productos/prod=([0-9]+)$  index.php?cat=77&pla=1&prod=$1
Rewriterule ^productos/prod=([0-9]+)&ruta=([^/]*)$  index.php?cat=77&pla=1&prod=$1&ruta=$2
Rewriterule ^productos/panes$  index.php?cat=81&pla=1
Rewriterule ^productos/panes/([^/]*).html$  index.php?cat=81&pla=3&nota=$1
Rewriterule ^productos/panetones$  index.php?cat=82&pla=1
Rewriterule ^productos/panetones/([^/]*).html$  index.php?cat=82&pla=3&nota=$1
Rewriterule ^productos/pasteleria$  index.php?cat=83&pla=1
Rewriterule ^productos/pasteleria/([^/]*).html$  index.php?cat=83&pla=3&nota=$1
Rewriterule ^sucursales$  index.php?cat=78&pla=1
Rewriterule ^sucursales/p=([0-9]+)$  index.php?cat=78&pla=$1
Rewriterule ^sucursales/pag=([0-9]+)$  index.php?cat=78&pla=1&pag=$1
Rewriterule ^sucursales/([^/]*).html$  index.php?cat=78&pla=3&nota=$1
Rewriterule ^sucursales/prod=([0-9]+)$  index.php?cat=78&pla=1&prod=$1
Rewriterule ^sucursales/prod=([0-9]+)&ruta=([^/]*)$  index.php?cat=78&pla=1&prod=$1&ruta=$2
Rewriterule ^social$  index.php?cat=79&pla=1
Rewriterule ^social/p=([0-9]+)$  index.php?cat=79&pla=$1
Rewriterule ^social/pag=([0-9]+)$  index.php?cat=79&pla=1&pag=$1
Rewriterule ^social/([^/]*).html$  index.php?cat=79&pla=3&nota=$1
Rewriterule ^social/prod=([0-9]+)$  index.php?cat=79&pla=1&prod=$1
Rewriterule ^social/prod=([0-9]+)&ruta=([^/]*)$  index.php?cat=79&pla=1&prod=$1&ruta=$2
Rewriterule ^contacto$  index.php?cat=80&pla=1
Rewriterule ^contacto/p=([0-9]+)$  index.php?cat=80&pla=$1
Rewriterule ^contacto/pag=([0-9]+)$  index.php?cat=80&pla=1&pag=$1
Rewriterule ^contacto/([^/]*).html$  index.php?cat=80&pla=3&nota=$1
Rewriterule ^contacto/prod=([0-9]+)$  index.php?cat=80&pla=1&prod=$1
Rewriterule ^contacto/prod=([0-9]+)&ruta=([^/]*)$  index.php?cat=80&pla=1&prod=$1&ruta=$2
Rewriterule ^panes$  index.php?cat=81&pla=1
Rewriterule ^panes/p=([0-9]+)$  index.php?cat=81&pla=$1
Rewriterule ^panes/pag=([0-9]+)$  index.php?cat=81&pla=1&pag=$1
Rewriterule ^panes/([^/]*).html$  index.php?cat=81&pla=3&nota=$1
Rewriterule ^panes/prod=([0-9]+)$  index.php?cat=81&pla=1&prod=$1
Rewriterule ^panes/prod=([0-9]+)&ruta=([^/]*)$  index.php?cat=81&pla=1&prod=$1&ruta=$2
Rewriterule ^panetones$  index.php?cat=82&pla=1
Rewriterule ^panetones/p=([0-9]+)$  index.php?cat=82&pla=$1
Rewriterule ^panetones/pag=([0-9]+)$  index.php?cat=82&pla=1&pag=$1
Rewriterule ^panetones/([^/]*).html$  index.php?cat=82&pla=3&nota=$1
Rewriterule ^panetones/prod=([0-9]+)$  index.php?cat=82&pla=1&prod=$1
Rewriterule ^panetones/prod=([0-9]+)&ruta=([^/]*)$  index.php?cat=82&pla=1&prod=$1&ruta=$2
Rewriterule ^pasteleria$  index.php?cat=83&pla=1
Rewriterule ^pasteleria/p=([0-9]+)$  index.php?cat=83&pla=$1
Rewriterule ^pasteleria/pag=([0-9]+)$  index.php?cat=83&pla=1&pag=$1
Rewriterule ^pasteleria/([^/]*).html$  index.php?cat=83&pla=3&nota=$1
Rewriterule ^pasteleria/prod=([0-9]+)$  index.php?cat=83&pla=1&prod=$1
Rewriterule ^pasteleria/prod=([0-9]+)&ruta=([^/]*)$  index.php?cat=83&pla=1&prod=$1&ruta=$2
